<% if notice %>
 <%= notice %>
<% end %>

<h1>Showing Current Inventory</h1>

<%= render 'list_assignments' %>

latest_assignment.class
<%= debug @latest_assignment.class %>


@assignment
<%= debug @assignment %>
